*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.calculator{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    border: 1px solid black;
    box-shadow: 0 0 3px 0 rgb(160, 157, 157);
}
.display{
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    border: 1px solid black;
    box-shadow: 0 0 3px 0 rgb(160, 157, 157);
}
.buttons{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 10px;
    border: 1px solid black;
    box-shadow: 0 0 3px 0 rgb(160, 157, 157);
}
.mainButton{
    grid-row: span 2;
}
.button{
    padding: 10px;
    border: 1px solid black;
    box-shadow: 0 0 3px 0 rgb(160, 157, 157);
}